.main-article {
  padding-left: 50px;
}

.main-article-head {
  margin-bottom: 50px;
}

.main-article-head h2 {
  font-size: 50px;
  margin-bottom: 20px;
}

.main-article-head p {
  font-size: 25px;
}

.main-article-body p {
  margin: 30px 0;
  line-height: 1.6;
}

.main-article-image-container {
  margin-bottom: 50px;
}

.main-article-image {
  width: 100%;
}
