.form {
  background: #fff;
  width: 700px;
  margin: 65px auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  border-radius: 4px;
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
}
.form h1 {
  padding: 35px 35px 0 35px;
  font-weight: bold;
}
.form .content {
  padding: 35px;
  text-align: center;
}
.field {
  padding: 10px 0;
}

.form input {
  font-size: 16px;
  display: block;
  font-family: "Rubik", sans-serif;
  width: 100%;
  padding: 10px 1px;
  border: 0;
  border-bottom: 1px solid #747474;
  outline: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.form .link {
  text-decoration: none;
  color: #747474;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 20px;
}
.form .action {
  display: -webkit-box;
  display: flex;
}
.button {
  width: 100%;
  border: none;
  padding: 18px;
  font-family: "Rubik", sans-serif;
  cursor: pointer;
  text-transform: uppercase;
  background: #e8e9ec;
  color: #777;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 0;
  letter-spacing: 0.2px;
  outline: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: bold;
  text-align: center;
}

.button:hover {
  background: #df7366;
  color: #fff
}

.error {
  display: inline-block;
  color: red;
  margin-top: 15px;
  font-weight: bold;
}
