.btn {
  overflow: hidden;
  border: 2px solid white;
  font-size: 16px;
  color: white;
  background: none;
  cursor: pointer;
  padding: 10px 30px;
  display: inline-block;
  margin: 15px 30px;
  outline: none;
  position: relative;
  transition: all 0.3s;
  border-radius: 100px;
}
.btn:hover {
  background-color: #fff;
  color: #df7366;
  transform: scale(1.1);
  font-weight: normal;
}