@media (max-width: 768px) {
  .btn {
    width: 100%;
  }
}

.btn {
  font-size: 16px;
  color: white;
  background-color: #df7366;
  cursor: pointer;
  padding: 20px 50px;
  margin-top: 30px;
  display: inline-block;
  transition: all 0.3s;
  border-radius: 15px;
  font-weight: normal;
  border: none;
}

.btn:hover {
  background-color: #d44030;
  color: #fff;
  transform: scale(1.1);
  font-weight: normal;
}
